body{
    background-color: black;
    background-image: linear-gradient(30deg, #000000 5%, #534d0d 95%);
    color: aliceblue;
    
}

h1.main-title{
    font-family: "Times New Roman", Times, serif;
    font-size: 90px;
    font-weight: 600px;
    background-size: 1%;
    background-image: linear-gradient(5deg, #c7ba00 5%, #c0c0c0 95%);
    color: transparent;
    background-clip: text;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 200px;
    margin-left: 200px;
    padding: 30px;
    text-align: center;
    text-shadow: 5px 5px #000000;
    border: 5px solid rgb(0, 0, 0);
}
h1.main-title:hover{
    background-image: linear-gradient(10deg, #7e5601 5%, #e7d022 95%);
}

h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px #000000;
}

h2.sub-title{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 200px;
    margin-left: 200px;
    font-size: 40px;

}

p{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 200px;
    margin-left: 200px;
}

#img1{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 200px;
    margin-left: 200px;
    width: 78%;
    height:auto; 
    border: 5px solid rgb(0, 0, 0);
}
